<h4>Kitchen</h4>
<form id="ajax-kitchen-form" action="finishOrder" method="POST">
	{{#each orders}}
		<li id = "{{_id}}" style="display: block"> Order: <span class="name">{{name}}</span> ____ Choices: <span class="choices">{{choices}}</span> 
		<button class = "completedButton">completed</button>
		</li>
	{{/each}}
</form>
