<h1>~CAST~</h1>
<h2>{{message}}</h2>
<p>Some things you can do from here: </br>
	-- go to /cats to see what cats are here </br>
	-- go to /cats/new to welcome in new cats </br>
	-- go to /cats/old/bye to let a cat move on </br>
	-- go to /cats/bycolor/color to see what cats are that color (replace color in url with the color) </br>
	-- go to /cats/observeUnder/age to check in on your cats under an age you specify (in the url)</br>
</p> 
