<h2>Login:</h2>

<h4>Enter your username:</h4>
<form action = "logIn" method = "POST">
  <input type="text" name='username'/><br/>
  <input type="submit" value="Submit">
</form>
<div id="result">
</div>